<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
<!--  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" charset="UTF-8">-->
  <meta charset="UTF-8">
  <title>CHAT_ASSISTANT</title>

  <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/css/chat.css">
</head>
<body>
<!-- Modal for registration -->
<div class="modal fade" id="RegistrationForm" tabindex="-1" aria-labelledby="basicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Registration</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="user_name" placeholder="Username" autocomplete="off"/>
          <label for="user_name">Username</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" id="user_email" class="form-control" placeholder="Email address" autocomplete="off"/>
          <label class="control-label" for="user_email">Email address</label>
        </div>
        <div class="form-floating mb-3">
          <input type="password" id="user_pass" class="form-control" placeholder="Password" autocomplete="off"/>
          <label class="control-label" for="user_pass">Password</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Register</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
<!-- End Modal for registration-->

<!-- Modal for login -->
<div class="modal fade" id="LoginForm" tabindex="-1" aria-labelledby="basicModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="basicModalLabel">Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="UserEmail" placeholder="name@example.com">
          <label for="UserEmail">Email address</label>
        </div>
        <div class="form-floating">
          <input type="password" class="form-control" id="UserPass" placeholder="Password">
          <label for="UserPass">Password</label>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Login</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <div class="col-12 text-center mt-3">
          <button type="button" class="btn btn-outline-secondary" style="border:none;"
                  onclick="RegistrationFormShow()">Not a member? Register</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Modal for login-->

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="navbar-brand">CHAT ASSISTANT</div>

  <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault"
      aria-expanded="false"
      aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/chat">Chat</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/docs" target="_blank">Docs</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <button type="button" class="btn btn-outline-secondary" id="btn_login" style="border:none;"
                onclick="LoginFormShow()">Login</button>
        <button type="button" class="btn btn-outline-secondary" id="btn_logout" style="border:none;"
                onclick="LogoutUser()">Logout</button>
      </li>
    </ul>
  </div>
</nav>
<main class="template" role="main">
    {% block content %}
    {% endblock %}
</main>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/auth.js"></script>
  <script src="/static/js/chat.js"></script>
  <script src="/static/js/files.js"></script>
  <script src="/static/js/sweetalert.min.js"></script>
<script>
    // checkUser();

    async function error_code_processing (response) {
        switch (response.status) {
            case 401:
                swal("Not authenticated");
                const btn_login = document.getElementById("btn_login");
                btn_login.style.display = "inline-block";
                break;
            case 422:
                swal("Input data is invalid");
                break;
            case 500:
                swal("Bad request.");
                break;
            default:
                const error = await response.json();
                swal(error.detail);
        }
    }
</script>
</body>
</html>